.header {
  margin-bottom: 10px;
}

.header_wrapper {
  display: flex;
  padding: 7px 5px;
  justify-content: space-around;
  align-items: center;
}

.menu svg {
  padding-top: 10px;
  width: 35px;
  height: 35px;
}

.logo img{
  width: 120px;
  height: 30px;
}

.shopping_cart {
  display: flex;
  align-items: center;
}

.shopping_cart .count {
  margin-left: 3px;
  font-size: 12px;
  background-color: #F8475F;
  padding: 2px 5px;
  border-radius: 50%;
  color: white;
}

.shopping_cart img {
  width: 25px;
  height: 25px;
}

.header_search {
  position: relative;
  padding: 0 20px;
}

.header_search input {
  width: 100%;
  border: 0;
  padding: 5px;
  border-bottom: 1px solid black;
}

.header_search svg {
  position: absolute;
  right: 5%;
}